@charset "utf-8";
.nav-separator:before , 
.nav-separator:after , 
nav:after , 
.bold-separator:before , 
.bold-separator:after , 
#submit:hover , 
.to-top-holder:before , 
.ic__days .ic__day_state_current , 
.ic__days .ic__day_state_selected  , 
.ic__days .ic__day:hover  ,   
.scroll-nav li a.actscroll:before ,  
.scroll-nav ul:before, 
.scroll-nav ul:after , 
footer:after  , 
.hot-desc  , 
.content-pagination a.current-page , 
.content-pagination a:hover , 
.shopping-cart-link-count  , 
.quantity input.qty , 
.order-count   , 
.hero-title h4:before , 
.hero-title h4:after , 
.current-page , 
.pagination a:hover,
.pagination span,
.product-images-wrapp .onsale,
.product-cat-mains span.onsale,
.content-pagination .page-numbers.current,
.widget #wp-subscribe input.submit,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.cart_list.product_list_widget li .remove:hover,
.woocommerce ul.products li.product .onsale,
.woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.lambert_subscribe .subscribe-button


 {
	background:#C59D5F;
}
.widget a:hover,
span.wpcf7-not-valid-tip,
nav li  a.act-link , 
.main_navigation ul ul li a.act-link,
nav li  a:hover , 
.nav-social h3  , 
.nav-social li a:hover  , 
.parallax-section h3 , 
.section-title h3 , 
.team-slider h3 , 
.footer-widgets .widget-title,
#submit , 
.to-top , 
#submit-res , 
.link , 
.tooltip , 
.hero-link a:hover  , 
.to-top-holder p span , 
.twitter-feed-id li a , 
.twitter-holder  .customNavigation a:hover , 
#subscribe  .subscribe-button , 
.twitter-holder  .customNavigation a.twit-link   , 
.footer-social h3 , 
.footer-contacts li a:hover , 
.footer-social ul li a:hover , 
.subscribe-message i , 
.section-icon  , 
.testimonials-holder h4 a , 
.testi-item h4 a, 
.chefinfo , 
.team-social  li a:hover , 
.team-modal h5 , 
.popup-modal-dismiss:hover , 
.promotion-price , 
.big-number a , 
.testimonials-holder .customNavigation a:hover , 
.testimonials-slider ul li , 
.testi-item ul li , 
.menu-item a:hover , 
.mn-menu-item a:hover , 
.product-cats li a , 
.product-price a , 
.shopping-cart-link   , 
.subnav a:hover span  , 
.product-rating  , 
.product-item-price del span ,  
.quantity a , 
.product-meta span a ,
.product_meta span a ,
.tabs-menu .current a   , 
.order-money ,  
/*.product-name a:hover  , 
.product-name , */
.coupon-holder button:hover , 
.cart-totals  button , 
.search-submit , 
.post-tags li a:hover, 
.tagcloud li a:hover , 
.post-link:hover , 
.slides-navigation a:hover , 
.post-meta i , 
.gallery-filters  a.gallery-filter-active , 
.box-item i , 
.fullheight-carousel-holder .customNavigation a:hover , 
.carousel-link-holder  h4 , 
#success_page p strong,
.woocommerce .page-title,
.woocommerce-review-link,
.star-rating,
.star-1:after,.star-2:after,.star-3:after,.star-4:after,.star-5:after,
.woocommerce .star-rating:before,
.woocommerce-product-rating,
.woocommerce .woocommerce-product-rating .star-rating:before,
.quantity button,
.woocommerce-breadcrumb a,
.cart-table span.amount,
.cart-table .cart-product a,
.woocommerce-shipping-calculator a,
.cart_totals section.shipping-calculator-form p button:hover,
.cart_totals section.shipping-calculator-form p button:focus,
.cart_totals  a.button,
.cart_totals  a.button.alt:hover,
body.woocommerce-checkout .woocommerce-info a,
.login_submit:hover,
.lost_password a ,
.woocommerce #payment #place_order,
blockquote a,
.media-heading a:hover,
.reservation-form #message,
.cart_list.product_list_widget li .remove,
.cart_list.product_list_widget .quantity .amount,
p.total .amount,
.fourofour p a,

.woocommerce-message a,
.woocommerce .widget_shopping_cart .buttons a:hover, .woocommerce.widget_shopping_cart .buttons a:hover,
.woocommerce div.product form.cart .button,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
.footer-widgets:nth-child(2) h3.widget-title,
.to-top-holder a,

.lambert-tweet li a
{
	color:#C59D5F;
}
.to-top-holder a:hover{
	color:#C59D5F;
}
.cart_list.product_list_widget li .remove {
	color:#C59D5F !important;
}
.cart_list.product_list_widget li .remove:hover{
    color:#fff !important;
}
.fourofour p a {border-color:#C59D5F;}
.hot-deal:before {
	border:2px  solid #C59D5F;
}
article.sticky {padding: 10px;border: 2px solid #C59D5F;}
.team-modal:before  , .half-circle{
	border:4px  double #C59D5F;
}
.half-circle {
	 border:3px  solid #C59D5F;}